body {
    margin: 0 auto;
    padding: 120px;
    width: 1480px;
    height: auto;
    
}

/* logo */
.Ramda-logo {
    font-size: 80px;
}

.logo-collor-ramda {
    color: #4BCAFF;
}

/* header-menu-1 */
.header-menu{
    width: 1380x;
    height: 69px;
    background-color: #35444F;
    margin: 40px auto 0;
}

.header-menu-list{
    display: flex;
    height: 27px;
    justify-content: center;
    margin: 0 auto;
    list-style-type: none;
    
}

.menu-item{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 0px 30px 30px 40px ;
    height: 69px;
    line-height: 69px;

    
}

.menu-item:not(:first-child){
    border-left: none;
}

.menu-item:hover {
    transition: 500ms;
    background-color: #222F3A;
}


.menu-item a{
    color: #fff;
    font-size: 24px;
    font-weight: 300;
}

/* aside-menu */

.aside-menu {
    display: flex;
    width: 344px;
    height: 399px;
    border: 1px solid black;
    justify-content: start;
}

.aside-menu-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}


.aside-menu-item {
    width: 342px;
    height: 81px;
    color: #485863;
}

.aside-menu-item:hover {
    transition: 500ms;
    background-color: #DBDBDB;
    color: black;
    padding-left: 20px;
    width: auto;
    height: auto;
    margin-bottom: 6px;
    
}

.aside-menu-item a{
    text-decoration: none;
    font-size: 27px;
    font-weight: 400;
    line-height: 27px;
    margin-left: 44px;
    line-height: 75px;
}

/* top img */

.border-img {
    margin-left: 20px;
    border: 1px solid black;
    width: 885px;
    height: 529px;
    flex-shrink: 0;
}
.top-img {
    margin: 70px 0px 0px 330px;
}

.top-img :hover {
    transform: scale(1.1);
    transition: transform 0.9s;
}
/* main */

.main-paragraphs {
    margin: 200px 0px 0px 360px;
    width: 885px;
}

.paragraph-one {
    color: #2C2C2C;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.paragraph-two {
    margin-top: 40px;
    color: #2C2C2C;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/* footer, footer-menu */

.footer-menu {
    width: 1480x;
    height: 69px;
    background-color: rgba(99, 105, 110, 0.48);
    margin: 40px auto 0;
}
.footer-menu-list {
    display: flex;
    height: 27px;
    justify-content: center;
    margin: 0 auto;
    list-style-type: none;

}

.footer-menu-item {
    color: #0C1927;
    padding: 0 30px;
    line-height: 69px;
}

.footer-menu-item a {
    padding-left: 30px ;
    font-size: 26px;
    font-weight: 300;
}

.footer-menu-item:hover{
    transition: 300ms;
    color: #3181A6;
    text-decoration: underline;
    
}



